un_global/sc-sanctions.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="CONSOLIDATED_LIST">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="INDIVIDUALS"/>
                <xs:element ref="ENTITIES"/>
            </xs:sequence>
            <xs:attribute name="dateGenerated" use="required" type="xs:dateTime"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="INDIVIDUALS">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="INDIVIDUAL"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="INDIVIDUAL">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DATAID"/>
                <xs:element ref="VERSIONNUM"/>
                <xs:element ref="FIRST_NAME"/>
                <xs:element minOccurs="0" ref="SECOND_NAME"/>
                <xs:element minOccurs="0" ref="THIRD_NAME"/>
                <xs:element minOccurs="0" ref="FOURTH_NAME"/>
                <xs:element ref="UN_LIST_TYPE"/>
                <xs:element ref="REFERENCE_NUMBER"/>
                <xs:element ref="LISTED_ON"/>
                <xs:element ref="GENDER" minOccurs="0"/>
                <xs:element ref="SUBMITTED_BY" minOccurs="0"/>
                <xs:element minOccurs="0" ref="NAME_ORIGINAL_SCRIPT"/>
                <xs:element ref="COMMENTS1"/>
                <xs:element minOccurs="0" ref="NATIONALITY2"/>
                <xs:element minOccurs="0" ref="TITLE"/>
                <xs:element minOccurs="0" ref="DESIGNATION"/>
                <xs:element minOccurs="0" ref="NATIONALITY"/>
                <xs:element ref="LIST_TYPE"/>
                <xs:element minOccurs="0" ref="LAST_DAY_UPDATED"/>
                <xs:element maxOccurs="unbounded" ref="INDIVIDUAL_ALIAS"/>
                <xs:element maxOccurs="unbounded" ref="INDIVIDUAL_ADDRESS"/>
                <xs:element maxOccurs="unbounded" ref="INDIVIDUAL_DATE_OF_BIRTH"/>
                <xs:element maxOccurs="unbounded" ref="INDIVIDUAL_PLACE_OF_BIRTH"/>
                <xs:element maxOccurs="unbounded" ref="INDIVIDUAL_DOCUMENT"/>
                <xs:element ref="SORT_KEY"/>
                <xs:element ref="SORT_KEY_LAST_MOD"/>
                <xs:element minOccurs="0" ref="DELISTED_ON"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SECOND_NAME" type="xs:string" default="na"/>
    <xs:element name="THIRD_NAME" type="xs:string" default="na"/>
    <xs:element name="FOURTH_NAME" type="xs:string" default="na"/>
    <xs:element name="GENDER" type="xs:string"/>
    <xs:element name="SUBMITTED_BY" type="xs:string"/>
    <xs:element name="NATIONALITY2" type="xs:string"/>
    <xs:element name="TITLE">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="VALUE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DESIGNATION">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="VALUE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NATIONALITY">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="VALUE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="INDIVIDUAL_ALIAS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="QUALITY"/>
                <xs:element ref="ALIAS_NAME"/>
                <xs:element minOccurs="0" ref="DATE_OF_BIRTH"/>
                <xs:element minOccurs="0" ref="CITY_OF_BIRTH"/>
                <xs:element minOccurs="0" ref="COUNTRY_OF_BIRTH"/>
                <xs:element minOccurs="0" ref="NOTE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATE_OF_BIRTH" type="xs:string"/>
    <xs:element name="CITY_OF_BIRTH" type="xs:string"/>
    <xs:element name="COUNTRY_OF_BIRTH" type="xs:string"/>
    <xs:element name="INDIVIDUAL_ADDRESS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="STREET" minOccurs="0"/>
                <xs:element minOccurs="0" ref="CITY"/>
                <xs:element ref="STATE_PROVINCE" minOccurs="0"/>
                <xs:element ref="ZIP_CODE" minOccurs="0"/>
                <xs:element ref="COUNTRY"/>
                <xs:element ref="NOTE" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="INDIVIDUAL_DATE_OF_BIRTH">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="TYPE_OF_DATE"/>
				<xs:element minOccurs="0" ref="NOTE"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="DATE"/>
                    <xs:element ref="YEAR"/>
                    <xs:sequence>
                        <xs:element ref="FROM_YEAR"/>
                        <xs:element ref="TO_YEAR"/>
                    </xs:sequence>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TYPE_OF_DATE" type="xs:string"/>
    <xs:element name="DATE" type="xs:date"/>
	<xs:element name="YEAR">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[1-9][0-9][0-9][0-9]"/>
				<xs:minInclusive value="1900"/>
				<xs:maxInclusive value="2200"/>
			 </xs:restriction>
		</xs:simpleType>
	</xs:element>
    <xs:element name="FROM_YEAR">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[1-9][0-9][0-9][0-9]"/>
				<xs:minInclusive value="1900"/>
				<xs:maxInclusive value="2200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
    <xs:element name="TO_YEAR">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[1-9][0-9][0-9][0-9]"/>
				<xs:minInclusive value="1900"/>
				<xs:maxInclusive value="2200"/>
			 </xs:restriction>
		</xs:simpleType>
	</xs:element>
    <xs:element name="INDIVIDUAL_PLACE_OF_BIRTH">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="CITY"/>
                <xs:element minOccurs="0" ref="STATE_PROVINCE"/>
                <xs:element minOccurs="0" ref="COUNTRY"/>
                <xs:element minOccurs="0" ref="NOTE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="INDIVIDUAL_DOCUMENT">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="TYPE_OF_DOCUMENT"/>
                <xs:element minOccurs="0" ref="TYPE_OF_DOCUMENT2"/>
                <xs:element minOccurs="0" ref="NUMBER"/>
                <xs:element minOccurs="0" ref="ISSUING_COUNTRY"/>
                <xs:element minOccurs="0" ref="DATE_OF_ISSUE"/>
                <xs:element minOccurs="0" ref="CITY_OF_ISSUE"/>
                <xs:element minOccurs="0" ref="COUNTRY_OF_ISSUE"/>
                <xs:element minOccurs="0" ref="NOTE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TYPE_OF_DOCUMENT" type="xs:string"/>
    <xs:element name="TYPE_OF_DOCUMENT2" type="xs:string"/>
    <xs:element name="NUMBER" type="xs:string"/>
    <xs:element name="ISSUING_COUNTRY" type="xs:string"/>
    <xs:element name="DATE_OF_ISSUE" type="xs:string"/>
    <xs:element name="CITY_OF_ISSUE" type="xs:string"/>
    <xs:element name="COUNTRY_OF_ISSUE" type="xs:string"/>
    <xs:element name="ENTITIES">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ENTITY"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ENTITY">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DATAID"/>
                <xs:element ref="VERSIONNUM"/>
                <xs:element ref="FIRST_NAME"/>
                <xs:element ref="UN_LIST_TYPE"/>
                <xs:element ref="REFERENCE_NUMBER"/>
                <xs:element ref="LISTED_ON"/>
                <xs:element minOccurs="0" ref="SUBMITTED_ON"/>
                <xs:element minOccurs="0" ref="NAME_ORIGINAL_SCRIPT"/>
                <xs:element ref="COMMENTS1"/>
                <xs:element ref="LIST_TYPE"/>
                <xs:element minOccurs="0" ref="LAST_DAY_UPDATED"/>
                <xs:element maxOccurs="unbounded" ref="ENTITY_ALIAS"/>
                <xs:element maxOccurs="unbounded" ref="ENTITY_ADDRESS"/>
                <xs:element ref="SORT_KEY"/>
                <xs:element ref="SORT_KEY_LAST_MOD"/>
                <xs:element minOccurs="0" ref="DELISTED_ON"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SUBMITTED_ON" type="xs:date"/>
    <xs:element name="ENTITY_ALIAS">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element ref="QUALITY"/>
                <xs:element ref="ALIAS_NAME"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ENTITY_ADDRESS">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="STREET"/>
                <xs:element minOccurs="0" ref="CITY"/>
                <xs:element minOccurs="0" ref="STATE_PROVINCE"/>
                <xs:element minOccurs="0" ref="ZIP_CODE"/>
                <xs:element minOccurs="0" ref="COUNTRY"/>
                <xs:element minOccurs="0" ref="NOTE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DATAID" type="xs:integer" default="000000"/>
    <xs:element name="VERSIONNUM" type="xs:integer" default="1"/>
    <xs:element name="FIRST_NAME" type="xs:string"/>
    <xs:element name="UN_LIST_TYPE" type="xs:string"/>
    <xs:element name="REFERENCE_NUMBER" type="xs:string"/>
    <xs:element name="LISTED_ON" type="xs:date"/>
    <xs:element name="NAME_ORIGINAL_SCRIPT" type="xs:string"/>
    <xs:element name="COMMENTS1" type="xs:string"/>
    <xs:element name="VALUE" type="xs:string"/>
    <xs:element name="LIST_TYPE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="VALUE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LAST_DAY_UPDATED">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="VALUE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="QUALITY" type="xs:string"/>
    <xs:element name="ALIAS_NAME" type="xs:string"/>
    <xs:element name="NOTE" type="xs:string"/>
    <xs:element name="STREET" type="xs:string"/>
    <xs:element name="CITY" type="xs:string"/>
    <xs:element name="STATE_PROVINCE" type="xs:string"/>
    <xs:element name="ZIP_CODE" type="xs:string"/>
    <xs:element name="COUNTRY" type="xs:string"/>
    <xs:element name="SORT_KEY" type="xs:string"/>
    <xs:element name="SORT_KEY_LAST_MOD" type="xs:string"/>
    <xs:element name="DELISTED_ON" type="xs:date"/>
</xs:schema>
